<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>ITOS</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description></description>
        <display-name>PersonHome</display-name>
        <servlet-name>PersonHome</servlet-name>
        <servlet-class>com.company.itos.profile.servlet.PersonHome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonHome</servlet-name>
        <url-pattern>/PersonHome</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>PersonRegistration</display-name>
        <servlet-name>PersonRegistration</servlet-name>
        <servlet-class>com.company.itos.profile.servlet.PersonRegistration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonRegistration</servlet-name>
        <url-pattern>/PersonRegistration</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>PersonDelete</display-name>
        <servlet-name>PersonDelete</servlet-name>
        <servlet-class>com.company.itos.profile.servlet.PersonDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonDelete</servlet-name>
        <url-pattern>/PersonDelete</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>PersonList</display-name>
        <servlet-name>PersonList</servlet-name>
        <servlet-class>com.company.itos.profile.servlet.PersonList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonList</servlet-name>
        <url-pattern>/PersonList</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>PersonLogin</display-name>
        <servlet-name>PersonLogin</servlet-name>
        <servlet-class>com.company.itos.profile.servlet.PersonLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonLogin</servlet-name>
        <url-pattern>/PersonLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>PersonUpdate</display-name>
        <servlet-name>PersonUpdate</servlet-name>
        <servlet-class>com.company.itos.profile.servlet.PersonUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonUpdate</servlet-name>
        <url-pattern>/PersonUpdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>SearchPerson</display-name>
        <servlet-name>SearchPerson</servlet-name>
        <servlet-class>com.company.itos.profile.servlet.SearchPerson</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchPerson</servlet-name>
        <url-pattern>/SearchPerson</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>PersonLogOut</display-name>
        <servlet-name>PersonLogOut</servlet-name>
        <servlet-class>com.company.itos.profile.servlet.PersonLogOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonLogOut</servlet-name>
        <url-pattern>/PersonLogOut</url-pattern>
    </servlet-mapping>
    <!-- <listener>
        <listener-class>org.apache.tiles.web.startup.AbstractTilesListener</listener-class>
    </listener>-->
</web-app>